<a href="https://colab.research.google.com/github/Gael-Android/forColab/blob/main/DataPreProcess_mugisung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import pandas
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("/content/drive/MyDrive/tax/data/train.xlsx")
df.head()
# 실행시 18초 정도 걸림

       신고번호       신고일자  통관지세관부호  신고인부호  ...   관세율 검사결과코드 우범여부 핵심적발
0  57298928 2020-01-01      121  2O5A2  ...   8.0     N3    1    1
1  85092852 2020-01-01       30  305K5  ...   8.0      A    0    0
2  63014158 2020-01-01       20  CGMT6  ...  10.0      A    0    0
3  40175917 2020-01-01       40  QWUTG  ...   8.0      A    0    0
4  11602631 2020-01-01       30  0X1CO  ...   5.2  M1_N1    1    1

[5 rows x 24 columns]

In [ ]:
df['']

In [ ]:
new_df = df.drop(columns=['신고번호','신고일자','수입자부호','해외거래처부호','특송업체부호','검사결과코드','우범여부','핵심적발'])
new_df

       통관지세관부호  신고인부호 수입통관계획코드 수입신고구분코드  ...  적출국가코드  원산지국가코드  관세율구분코드    관세율
0          121  2O5A2        D        B  ...      US       US        A    8.0
1           30  305K5        C        B  ...      US       US        A    8.0
2           20  CGMT6        D        B  ...      US       US        A   10.0
3           40  QWUTG        C        B  ...      CN       CN        A    8.0
4           30  0X1CO        C        B  ...      CN       CN     FCN1    5.2
...        ...    ...      ...      ...  ...     ...      ...      ...    ...
89350       10  M9SYU        C        B  ...      CN       CN       W2  135.0
89351       41  T7VQN        E        E  ...      CN       CN     FCN1    0.0
89352       40  7Q31W        C        B  ...      CN       CN        A    8.0
89353       40  UJ0JR        F        B  ...      CA       CA        C    6.5
89354       30  4TUUB        Z        B  ...      HK       HK        C    6.5

[89355 rows x 16 columns]

In [ ]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89355 entries, 0 to 89354
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   통관지세관부호   89355 non-null  int64
 1   신고인부호     89355 non-null  object
 2   수입통관계획코드  89355 non-null  object
 3   수입신고구분코드  89355 non-null  object
 4   수입거래구분코드  89355 non-null  int64
 5   수입종류코드    89355 non-null  int64
 6   징수형태코드    89355 non-null  int64
 7   신고중량(KG)  89355 non-null  float64
 8   과세가격원화금액  89355 non-null  float64
 9   운송수단유형코드  89355 non-null  int64
 10  반입보세구역부호  89355 non-null  int64
 11  HS10단위부호  89355 non-null  int64
 12  적출국가코드    89355 non-null  object
 13  원산지국가코드   89355 non-null  object
 14  관세율구분코드   89355 non-null  object
 15  관세율       89355 non-null  float64
dtypes: float64(3), int64(7), object(6)
memory usage: 10.9+ MB

In [ ]:
new_df['신고인부호'] = pd.factorize(new_df['신고인부호'])[0]
new_df['수입통관계획코드'] = pd.factorize(new_df['수입통관계획코드'])[0]
new_df['수입신고구분코드'] = pd.factorize(new_df['수입신고구분코드'])[0]
new_df['적출국가코드'] = pd.factorize(new_df['적출국가코드'])[0]

new_df['원산지국가코드'] = pd.factorize(new_df['원산지국가코드'])[0]
new_df['관세율구분코드'] = pd.factorize(new_df['관세율구분코드'])[0]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()

output = min_max_scaler.fit(new_df)
output

MinMaxScaler(copy=True, feature_range=(0, 1))

In [ ]:
output = min_max_scaler.transform(new_df)
output = pd.DataFrame(output,columns=new_df.columns)
output['우범여부'] = df['우범여부']
output['핵심적발'] = df['핵심적발']
output

        통관지세관부호     신고인부호  수입통관계획코드  수입신고구분코드  ...   관세율구분코드       관세율  우범여부  핵심적발
0      0.770833  0.000000  0.000000       0.0  ...  0.000000  0.009996     1     1
1      0.138889  0.001037  0.166667       0.0  ...  0.000000  0.009996     0     0
2      0.069444  0.002075  0.000000       0.0  ...  0.000000  0.012495     0     0
3      0.208333  0.003112  0.166667       0.0  ...  0.000000  0.009996     0     0
4      0.138889  0.004149  0.166667       0.0  ...  0.029412  0.006498     1     1
...         ...       ...       ...       ...  ...       ...       ...   ...   ...
89350  0.000000  0.565353  0.166667       0.0  ...  0.235294  0.168687     0     0
89351  0.215278  0.186722  0.500000       1.0  ...  0.029412  0.000000     0     0
89352  0.208333  0.085062  0.166667       0.0  ...  0.000000  0.009996     0     0
89353  0.208333  0.506224  0.666667       0.0  ...  0.058824  0.008122     1     2
89354  0.138889  0.744813  1.000000       0.0  ...  0.058824  0.008122     0     0

[89355 rows x 18 columns]

In [ ]:
output.drop(columns=['우범여부','핵심적발']).to_csv("/content/drive/MyDrive/tax/data/mugisung_X.csv",index=False)

In [ ]:
output.loc[:,['우범여부','핵심적발']].to_csv("/content/drive/MyDrive/tax/data/mugisung_y.csv",index=False)